# A one dimensional porous media is modelled using only fracture elements
# whith thickness of 1.

$regiondata
		$region
				type   frac
				id      200
				phi     1
				pd      1
				kr 		vang .666 1 1 #case 1
				# kr brooks 2 1 1 #case 2
				k       1
				e 		1
		$region
				type   frac
				id      201
				phi     1
				pd      2
				kr		vang .666 1 1
				# kr brooks 2 1 1 #case 2
				k       .25
				e 		1
		$region
				type    bnd
				id      100
				stype   sconst
				ptype   qconst
				value   0
		$region
				type    bnd
				id      101
				stype   gpczero
				ptype   pconst
				value   0

$fixeddata
		dm      1
		dn		1
		dp		1
		dgw     0
		dgn     0
		gorigin 0 0
		gradz   0 1
		starttime		0
		stoptime		1
		timestep		.0001
		maxtimestep		.01
		mintimestep		1e-10
		maxdeltas		.01
		mindeltas		.005
		beta			1.2
		maxtimeiteration		100
		nfilebegin				0
		nfileend				6
		jmodel					vang .666 .01 
		meshtype				gmsh	
		visualtype				vtk
		visualduplicate			0


$setfield
		2				# no. of commands
		circle			0   0    100  0
		rectangle		-.81 -1  0  1 1