# This is the config file for the third benchmark problem solved in my
# thesis.
# All the solver's input are given in this file.

# Here the data for regions are given
$regiondata
		#this is the matrix region
		$region
				#type is matrix
				type   mat
				# mesh generator id is 400
				id      400
				# porosity is .17
				phi     .17
				# pd is .3
				pd      .3  
				# firooz cappilary curve is used:
				# krw = krw0 S^vw
				# krn = krn0 (1-S)^vn
				# where vw = 5, vn = 3, kw0 =.2 kn0=.6 
				kr      firooz 5 3 .2 .6
				# the permeability tensor
				k       1,0;0,1
		$region
				#type is fracture
				type   frac
				#id is 401
				id      401
				#porosity is .85
				phi     .85
				# pd is .04
				pd      .04
				# firooz cappilary curve
				kr      firooz 1 1 1 1
				# permeability scalar
				k       8e5
				# thickness
				e		4e-6
		$region
				#boundary condition region
				type    bnd
				#mesh generator id is 300
				id      300
				#saturation constant
				stype   sconst
				#inflow constant
				ptype   qconst
				#if you use the gmsh mesh influx is defined by source
				# point and you
				# have to give the total influx q = .02
				#value   .02
				# if you use the triangle mesh influx is defined by
				# boundary condition
				# you should give q/L. as L is .2 for the boundary
				# the flux/length will
				# be .1.
				value .1
		$region
				#boundary condition region
				type    bnd
				#mesh generator id is 301
				id      301
				# neumann boundary condition for saturation
				stype   gpczero
				# pressure constant boundary condition
				ptype   pconst
				# constant pressure value:
				value   0

# These data are categorized as fixed. I do not recall why I chose this
# name for them!
$fixeddata
		# M dimless number
		dm      .45
		# N dimless number
		dn		198.2
		# P dimless number
		dp		198.2
		# Gw dimless number
		dgw     2.45
		# Gn dimless number
		dgn     1.617
		# a point with h = 0
		gorigin 0 0
		# direction of \nabla h (reverse of gravity)
		gradz   0 1
		# time to start the simulation
		starttime		0
		# time to step the simulation
		stoptime		15
		# initial timestep
		timestep		.0001
		# maximum allowable timestep
		maxtimestep		.1
		# minimum allowable timestep
		mintimestep		1e-10
		# maximum allowable ds: .01 is a good value
		maxdeltas		.01
		# minimum allowable ds: .05 is a good value
		mindeltas		.005
		# a coefficient fo changing dt (1.2 is suitable value)
		beta			1.2
		# maximum number of iterations to find dt for a timestep
		maxtimeiteration		100
		# number of first output file
		nfilebegin				0
		# number of output files
		nfileend			 	31
		# Firooz capillary curve is used -ln(S) when the first line
		# is chosen. Uncomment second line and comment first line
		# to use no cappilary pressure.
		jmodel					firooz
		#jmodel					zero
		#Mesh Type can be either triangle or gmsh
		#meshtype				gmsh
		meshtype 				triangle
		#write in vtk file format
		visualtype				vtk
		#duplicate nodes to write discontinuous data
		# 0 : duplicate
		# 1 : do not duplicate write min(S)
		# 2 : do not duplicate write max(S)
		visualduplicate 		0

# If you run df2d with -s switch it will change the initial condition
# according to this commands.
$setfield	
		#2				# no. of commands, use when using triangle
		4				#use this one if you use triangle
		# For a circle centered at 0,0 with radius 100 set saturation
		# to 0
		circle			0   0    100  0
		# For a rectangle with left lower corner -.1 -.1 at upper
		# right corner .01 .01 set saturation to 1.
		# This is so that for the injection point s=1 and water gets
		# injected. If saturation for this point remains 0 no water
		# will be injected.
		rectangle		-.1 -.1  .01  .01 1
		# if using triangle also uncomment these lines, because
		# the injection boundary is larger on the triangle mesh.
		rectangle		-.1 -.1  .1  .01 1
		rectangle		-.1 -.1  .01  .1 1