$regiondata
		$region #inner media
				type   mat
				id     505
				phi     .343
				pd      1163.5 #case 1
				#pd 1466.1     #case 2
				kr      brooks 2 1 1
				k       33.2,0;0,33.2
		$region #outer lense
				type   mat
				id     504
				phi     .36
				pd      755
				kr      brooks 2.7 1 1
				k       66.4,0;0,66.4
		$region #left and right boundary
				type    bnd
				id      501
				stype   sconst
				ptype   pconst
				value   0
		$region #down boundary
				type    bnd
				id      502
				stype   sconst
				ptype   qconst
				value   0
		$region #upper boundary
				type    bnd
				id      503
				stype   sconst
				ptype   qconst
				value   5.14

$fixeddata
		dm      .9
		dn		100
		dp		100
		dgw	    98.1
		dgn     143.2
		gorigin 0 0
		gradz   0 1
		starttime		0
		stoptime		3.5
		timestep		.0001
		maxtimestep		.01
		mintimestep		1e-10
		maxdeltas		.01
		mindeltas		.005
		beta			1.2
		maxtimeiteration		100
		nfilebegin				0
		nfileend				8
		jmodel					brooks 2.4
		meshtype				gmsh	
		visualtype				vtk
		visualduplicate 		0


$setfield
		2				# no. of commands
		circle			0   0    10000  1
		rectangle		38.43 64.9  51.64  65.1 0